.searchContainer {
  display: flex;
  align-items: center;
  border: 2px solid #475069;
  border-radius: 8px;
  padding: 12px 16px;
  margin-top: 48px;
  background-color: transparent;
  width: 344px;
  height: 64px;
 
}


.input {
  flex-grow: 1;
  margin-left: 16px;
  background: transparent;
  border: none;
  outline: none;
  color: #475069;
  font-size: 14px;
  padding: 8px;
  width: 100%;

  &::placeholder {
    color: #475069;
  }
}
